@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
	@apply bg-dark text-white-blue font-medium text-base;
}

a {
	@apply text-white;
}

.gradient {
	@apply bg-gradient-to-r from-violet to-orange;
}

h1,
h2,
h3 {
	@apply font-extrabold capitalize text-transparent bg-clip-text;
}

h1 {
	@apply text-4xl lg:text-6xl font-extrabold;
}

h2 {
	@apply text-2xl lg:text-4xl;
}

h3 {
	@apply text-xl lg:text-2xl;
}
